.menu__bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 60px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.mega__menu {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.drop__menu-wrapper {
  position: relative;
}

.drop__menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  padding: 16px 20px;
  color: #fff;
  background-color: var(--primary-green);
  cursor: pointer;
}

.drop__menu-header_text {
  display: flex;
  align-items: center;
}
.drop__menu-icon {
  font-size: 1.7rem;
  margin-left: 1rem;
}

.none {
  display: none;
  animation: hide 0.5s ease;
}

.drop__menu-items {
  position: absolute;
  top: 65px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 100%;
  animation: show 0.5s ease;
}
.drop__menu-item {
  padding: 16px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 0.5px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.drop__menu-item:hover {
  background-color: rgba(0, 0, 0, 0.01);
  color: var(--primary-green) !important;
}

.drop__menu-item_text {
  display: flex;
  align-items: center;
}
.drop__menu-item_text img {
  margin-left: 1rem;
}

.middle__menu-items {
  display: flex;
  gap: 1rem;
}

.middle__menu-item {
  transition: color 0.3s ease;
  position: relative;
}

.middle__menu-item:hover {
  color: var(--primary-green);

  cursor: pointer;
}
.middle__menu-item::after {
  content: "";
  position: absolute;
  top: -27px;
  left: 0;
  right: 0;
  width: 100;
  opacity: 0;
  height: 3px;
  background-color: var(--primary-green);
  transition: all 0.4s ease;
}
.middle__menu-item:hover::after {
  opacity: 1;
}

.location {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hide {
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}
